<div class="task-create-container">
    <h3>Create Task</h3>
    <form (submit)="createTask()">
        <label for="title">Title&nbsp;<span style="color: red;">*</span></label>
        <input type="text" id="title" [(ngModel)]="task.title" name="title" required>
    
        <label for="description">Description&nbsp;<span style="color: red;">*</span></label>
        <textarea id="description" [(ngModel)]="task.description" name="description" required></textarea>

        <div>
            <label for="status">Status</label>
            <select id="status" [(ngModel)]="task.status" name="status" required>
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
            </select>
        </div>
    
        <button type="submit">Create Task</button>
    </form>
</div>
  